 .header i a{
    color: #00ffff;
}
.video{
    margin-top:43px;
    margin-bottom: 10px;
    width: 100vw;
    text-align: center;
}
.video video{
    width: 65%;
    border: skyblue 5px solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.swiper-slide a{
    width: 500px;
    height: 300px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-slide p{
    font-size: 25px;
}
.swiper-container {
        width: 100%;
        height: 100%;
      }
.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        transition: 300ms;
        transform: scale(0.8);
        opacity: 0.5;
}
.swiper-slide-active,
.swiper-slide-duplicate-active{
        transform: scale(1);
        z-index: 999;
        opacity: 1;
}
.ying-border{
    display: flex;
    width: 100vw;
    height: 1400px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.ying-introduce{
    width: 45%;
    height: 300px;
    margin-bottom: 5px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.ying-introduce img{
    width: 36%;
    height: 100%;
}
.ying-introduce h2{
    display: inline-block;
    position: absolute;
    left: 310px;
}
.ying-introduce p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 208px;
}